.hero-section{
    background:
    linear-gradient(
      to top,
      #060307 0%,
      rgba(35, 19, 43, 0) 80px
    ),
        url("../img/hero/mobile-galerry.webp"),

    linear-gradient(
      to bottom,
      #060307 0%,
      rgba(35, 19, 43, 0) 106px
    ),
    
    #23132b;
    background-repeat: no-repeat;
    background-position: bottom;
}

.container{
    min-height: 1031px;
    padding: 0 16px;
}

.hero-info{
    padding-top: 64px;
    margin-bottom: 385px;
}

.hero-title {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.01em;
    margin-bottom: 20px;
}

.hero-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.hero-link {
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.5;

    min-width: 288px;
    height: 47px;
    margin: 24px auto 64px;
    padding: 10px 24px;

    border-radius: 12px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
background: #764191;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-section {
        background-image: url("../img/hero/Hero-background@2x-min.webp");
    }
}

@media screen and (min-width: 768px) {
    
}