.container{
    padding: 0 16px;
    height: 1031px;
}

.hero-info{
    padding: 64px 0;
}

.hero-title {
    font-family: "Epilogue", sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.1;
    letter-spacing: -0.01em;
}

.hero-text {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.hero-link {
    border-radius: 12px;
    padding: 10px 24px;
    width: 288px;
    height: 47px;
    margin-top: 24px;
    box-shadow: 0 1px 2px 0 rgba(6, 3, 7, 0.05), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(6, 3, 7, 0.15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 rgba(255, 255, 255, 0.05);
background: #764191;
}